{% extends "layout.html" %}
{% block content %}

    <div class="card" class="m-5 p-2">
        <h5 class="card-title">  {{ player.errCode }} - {{ player.errMessage }}</h5>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Error Code: {{ player.errCode }}</li>
            <li class="list-group-item">Error Name: {{ player.errName }}</li>
            <li class="list-group-item">Error Message: {{ player.errMessage }}</li>
            <li class="list-group-item">Error Next Page: {{ player.errNextPage }}</li>

        </ul>

    </div>
{% endblock %}
