{% extends "layout.html" %}
{% block content %}
    <br><br>

    <div class="card" class="m-5 p-2">
        <h5 class="card-title">  {{ player.errCode }} - {{ player.errMessage }}</h5>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Status Code: {{ player.errCode }}</li>
            <li class="list-group-item">Message: {{ player.errMessage }}</li>
        </ul>
    </div>
    <form action="/{{ player.errNextPage }}" method="get">
        <br><br><p>
            <button type="submit" class="btn btn-primary">Click Here to Proceed</button>
    </form>
{% endblock %}
